#jobbox
{
	margin: auto;
	margin: 20px;
	display: inline-table;
	width: 450px;
	min-height: 350px;
	text-align: center;
}
#boxes
{
	text-align: center;
}
#feedbackDivPost
{
	margin-top: -25px;
}
#postDetails
{
	text-align: left;
}
#jobbox h2
{
	margin: 0;
}
ul, li
{
list-style-type: none;
}
img
{
	float: left;
	margin: 25px;
	margin-left: 10px;
}
#informationDiv
{
	margin-left: 100px;
}
@media(max-width: 1400px) 
{
	#content
	{
		width: 80%;
	}
}
@media(max-width: 1200px) 
{
	#content
	{
		width: 90%;
	}
}
@media(max-width: 1000px) 
{
	#content
	{
		width: 95%;
		display: block;
	}
	#boxes
	{
		display: block;
		margin: auto;
		text-align: auto;
	}
	#box
	{
		margin: 20px;
		margin: auto;
	}
	#jobbox
	{
		display: block;
	}
}