body
{
	margin: 0;
}

@font-face {
/*    font-family: 'Tahoma';
    src: url('../images/tahoma.woff');*/
	font-family: 'tahomabd';
	src: url('../images/tahomabd.woff');
}

#text
{
	font-size: 1.5em;
	width:990px;
	margin-top: 50px;
	margin: auto;
	background: rgba(255,255,255,0.7);
	padding: 10px;
}

#canvasLogo
{
	float: left;
	margin-left: 5%;
}

#top
{
	height: 110px;
	background-position: 0 0,0 0,0 0;
	background-color: #2d5a8f;
	border-color: transparent;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top: 2px solid #fff;
}