*
{
	text-decoration: none;
}

body,html
{
	margin: 0;
}
html
{
	min-height: 100%;
	position: relative;
}
body
{
	background-color: #DEDEDE;
	margin-bottom: 50px;
}
section
{
	background-color: white;
	width: 96%;
	margin: 0 auto; 
	margin-top: 2%;
	padding: 1%;
	box-shadow: 0px 0px 15px #878787;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
header
{
	background-color: #2D5A8F;
	min-height: 130px;
}
nav
{
	float: right;
	padding-bottom: 1px;	
	padding-top: 80px;
}
nav div
{
	display: inline-block;
	color: white;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding: 15px;
	line-height: 10px;
}
nav div:hover
{
	background: linear-gradient(#ED6F55, #DA563A); 
}
#mobileMenu:hover, #login:hover
{
	background-color: #ED6F55;  /*for devices that do not allow linear-gradient(iphone)*/
	background: linear-gradient(#DA563A, #ED6F55)
}
#login
{
	position:absolute;
	background-color: #ED6F55;  /*for devices that do not allow linear-gradient(iphone)*/
	background: linear-gradient(#ED6F55, #DA563A);
	color: white;
	top: 3%;
	right: 5%;
	line-height: 10px;
	padding: 15px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	box-shadow: 2px 2px 2px #333333;
	width: 120px;
}
#button
{
	background-color: #ED6F55;  /*for devices that do not allow linear-gradient(iphone)*/
	background: linear-gradient(#ED6F55, #DA563A);
	color: white;
	line-height: 10px;
	padding: 15px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	box-shadow: 2px 2px 2px #333333;
	width: 200px;
}
/* This embeds the font */
@font-face 
{
	font-family: 'tahomabd';
	src: url('../images/tahomabd.woff');
}
#canvasLogo
{
	float: left;
	margin-left: 4%;
	margin-top: 20px;
}
#content
{
	width: 70%;
	margin: 0 auto;
}
#box
{
	display: inline-block;
	margin: 1%;
	margin-top: 2%;
	text-align: center;
}
#boxes
{	
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-flex-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin: 0 auto;
	margin-bottom: 10%;
}
footer
{
	background-color: #2D5A8F;
	height: 100px;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	width:100%;
}
.one
{
	background-color: #DA9C3A;
	color: white;
}
.two
{
	background-color: #DA563A;
	color: white;
}
.three
{
	background-color: #DAC23A;
	color: white;
}
/* This hides the mobile menu until the media changes below show it */
#mobileMenu
{
	display: none;
}
#tutorNotes
{
	background-color: #EDB255;
	padding: 15px;
}
#studentNotes
{
	background-color: #EDD655;
	padding: 15px;
}
/* This changes the layout for tablets */
@media (max-width: 900px) 
{
	#content
	{
		width: 95%;
	}
    
    #box img
    {
    	width: 50%;
    }
    /* hides the standard nav for smaller screens */
    nav div
    {
    	display: none;
    }
    #login
	{
		top: 15px;
	}
    #mobileMenu
	{
		display: block;
		position:absolute;
		background-color: #ED6F55;  /*for devices that do not allow linear-gradient(iphone)*/
		background: linear-gradient(#ED6F55, #DA563A);
		text-decoration: none;
		color: white;
		top: 70px;
		right: 5%;
		line-height: 10px;
		padding: 15px;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		box-shadow: 2px 2px 2px #333333;
		text-align: center;
		width: 120px;
	}
	/* hides drop down menu, we show this using jQuery in the tutorconnect.js file */
	#dropDown
	{
		display:none;
		line-height: 60px;
	}
}
/* This changes the layout for mobile phones */
@media (max-width: 643px) 
{
	#mobileMenu
	{
		position: relative;
		margin: 0 auto;
		top: 0;
		right: 0;	
	}
	#boxes
	{
    	display:block;
    }
	#login
	{
		position: relative;
		margin: 0 auto;	
		margin-bottom: 10px;
		margin-top: 10px;
		top: 0;
		right: 0;
	}
}

#feedback
{
	text-align: center;
	margin: auto;
}
th:nth-child(1)
{
	text-align: left;
}
table
{
	font-size: 1.2em;
	border-collapse: collapse;
	background-color: white;
	border-left: 4px solid white;
	border-right: 4px solid white;
	box-shadow: 0px 0px 15px #878787;
}
table td
{
	border: 1px solid #DA563A;;
}
td:nth-child(1)
{
	width: 10%;
	text-align: left;
}
td:nth-child(2)
{
	width: 10%;
	text-align: center;
}
td:nth-child(3)
{
	width: 10%;
	text-align: center;
}
td:nth-child(4)
{
	width: 70%;
	text-align: left;
}
#postPic
{
	float: left;
	margin: 0 5px 5px 0;
}
#feedbackDivPost
{
	background-color: rgba(255,255,255,0.2);
	border-radius: 13px;
	text-decoration: underline;
	color: white;
	height: 25px;
	width: 50px;
	margin: auto;
	float: right;
	margin-bottom: 0;
}
h1
{
	margin-bottom: -10px;
}
li
{
	text-align: left;
	margin-left: 150px; 
}
#rate
{
	margin-top: -60px;
	margin-right: 20px;
	margin-bottom: 0px;
	float: right;
}
#postDetails
{
	text-align: left;
}
#postTitleInput
{
	font-size:1.5em;
}